* {
    margin: 0;
    padding: 0;
}

.room-wrapper {
    overflow: hidden;
}

.room-wrapper .video-source {
   margin: 50px 20px 0px 20px;
}

.video-source {
    display: flex;
    align-items: center;
}

.room-footer {
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #272525;
    position: fixed;
}

.room-emptiness {
    height: 100px;
    width: 100%;
}

.header-logo-room {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2.5fr;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;
}

.room-logo {
    z-index: 90;
    height: 50px;
    width: 50px;
}

.room-logo-name {
    z-index: 90;
    color: #04205A;
    font-size: 25px;
    font-family: 'Arvo';
}

.join-button {
    margin-top: 66vh;
    width: 250px;
    height: 75px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    transition: 1s;
    cursor: pointer;
}

.join-button:hover {
    background-color: aqua;
    transition: 0.5s;
}

.room-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    justify-items: center;
    align-items: center;
}

.room-buttons img {
    z-index: 99.8;
    height: 32.5px;
    width: 32.5px
}

.room-button {
    padding-top: 3.5px;
    height: 50px;
    width: 50px;
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    background-color: #CDA4EE;
}

#room-call-leave {
    background-color: #E43B3B;
    transition: 0.25s;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.room-button-text {
    text-decoration: none;
    color: black;
}

#room-settings:hover,
#room-call-leave:hover,
.video-button-on:hover,
.video-button-off:hover,
.audio-button-on:hover,
.audio-button-off:hover {
    filter: brightness(0.8);
    transition: 0.25s;
}

.video-button-on {
    background-color: #CDA4EE;
    transition: 0.25s;
}

.video-button-off {
    background-color: #E43B3B;
    transition: 0.25s;
}

.audio-button-on {
    background-color: #CDA4EE;
    transition: 0.25s;
}

.audio-button-off {
    background-color: #E43B3B;
    transition: 0.25s;
}