* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.room-wrapper .video-source {
   margin: 0px 10px 0px 10px;
}

.video-source {
    display: flex;
    align-items: center;
}

.room-footer {
    display: flex;
    align-self: end;
    height: 20vh;
    width: 100%;
    background-color: #272525;
    position: fixed;
}

.room-footer button {
    height: 20px;
}

.header-logo {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2.5fr;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;
}

.logo {
    z-index: 90;
    height: 75px;
    width: 75px;
}

.logo-name {
    z-index: 90;
    color: #04205A;
    font-size: 37.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes back-appear {
    0% {
        height: 100vh;
        width: 100vw;
    }
    75% {
        height: 100vh;
        width: 100vw;
    }
    100% {
        background-color: rgba(39, 37, 37, 0);
    }
}

.back-wrap {
    z-index: 99,8;
    background-color: #272525;
    animation-name: back-appear;
    animation-duration: 2s;
    animation-timing-function: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-screen {
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center;
    top: 0%;
    z-index: 99;
    background-color: #272525;
    width: 100%;
    height: 50vh;
}

.dell-opacity {
    opacity: 0;
}

.join-button-opacity {
    margin-top: 66vh;
    width: 1px;
    height: 1px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    transition: 1s;
    opacity: 0;
}



.join-button {
    margin-top: 66vh;
    width: 250px;
    height: 75px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    transition: 1s;
    cursor: pointer;
}

.join-button:hover {
    background-color: aqua;
    transition: 0.5s;
}
