* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NotFoundPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(132deg, #222222, #923d3d);
    background-size: 400% 400%;
    -webkit-animation: UnicoreAnimator 5s ease infinite;
    -moz-animation: UnicoreAnimator 5s ease infinite;
    -o-animation: UnicoreAnimator 5s ease infinite;
    animation: UnicoreAnimator 5s ease infinite;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.NotFoundRoom {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(132deg, #222222, #3434f6);
    background-size: 400% 400%;
    -webkit-animation: UnicoreAnimator 5s ease infinite;
    -moz-animation: UnicoreAnimator 5s ease infinite;
    -o-animation: UnicoreAnimator 5s ease infinite;
    animation: UnicoreAnimator 5s ease infinite;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

@-webkit-keyframes UnicoreAnimator {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@-moz-keyframes UnicoreAnimator {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@-o-keyframes UnicoreAnimator {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@keyframes UnicoreAnimator {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

.main-text {
    color: white;
    font-size: 70px;
    font-family:Trebuchet MS;
    font-weight: bold;
}

.sub-text {
    color: white;
    font-size: 40px;
    font-family:Trebuchet MS;
    font-weight: bold;
}

.back-button {
    height: 60px;
    width: 300px;
    margin-top: 6vh;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.32);
    color: white;
    font-size: 25px;
    font-family:Trebuchet MS;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.back-button:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(13.5px);
}