.alerter {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

#getusers {
    margin-bottom: 15px;
    font-size: 13pt;
}

table.clientsList {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.clientsList td, table.clientsList th {
  border: 1px solid #AAAAAA;
  padding: 2px 3px;
}
table.clientsList tbody td {
  font-size: 13px;
}
table.clientsList tr:nth-child(even) {
  background: #D0E4F5;
}
table.clientsList thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.clientsList thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.clientsList thead th:first-child {
  border-left: none;
}

table.clientsList tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.clientsList tfoot td {
  font-size: 14px;
}
table.clientsList tfoot .links {
  text-align: right;
}
table.clientsList tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}