/*------------------------------------------------------*/
                /*Main About Us Component*/

.about-us-component {
    width: 100%;
    display: grid;
    justify-content: center;
    background-color: rgba(164, 207, 231, 0.56);
    overflow-x: hidden;
}

/*------------------------------------------------------*/
                /*About Us Component 1*/

.about-us-container-1 {
    max-width: 1525px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
    position: absolute;
}

.container-1-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 500px;
}

.grid-1-wrapper {
    margin-top: 75px;
    margin-left: 100px;
}

.container-1-text-1 {
    grid-area: 1 / 1 / 2 / 3;
    position: relative;
    width: 550px;
    height: 116px;
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 65px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #086295;
}

.container-1-text-2 {
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 50px;
    padding-left: 2px;
    position: relative;
    width: 250px;
    height: 51px;
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    color: #086295;
}

.container-1-input {
    display: grid;
    justify-self: end;
    justify-items: center;
    height: 50px;
    margin-top: 65px;
    margin-right: 75px;
}

.meeting-input {
    display: grid;
    box-sizing: border-box;
    width: 198px;
    height: 31px;
    padding-left: 3px;
    background: #EAE3E3;
    border: 1px solid #888888;
    border-radius: 5px;
}

.meeting-join-button {
    margin-top: 40px;
    width: 150px;
    height: 40px;
    color: white;
    border: 0px;
    background-color: #3389D8;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-family: 'Arvo';
}

.container-1-doctor-img {
    width: 80%;
    height: 80%;
}

.doctor-image {
    width: 100%;
    height: 100%;
}

/*------------------------------------------------------*/
                /*About Us Component 2*/

.about-us-container-2 {
    max-width: 1525px;
    width: 100%;
    height: 300px;
    display: grid;
    justify-self: center;
    position: relative;
    margin-top: 750px;
}

.container-2-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 75px;
    justify-self: center;
}

.container-2-cont-1 {
    grid-area: 2 / 1 / 3 / 2;
    width: 400px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.container-2-text-1 {
    margin-left: 20px;
}

.container-2-text-2 {
    width: 240px;
    height: 62px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #034265;
    z-index: 3;
    padding-left: 3px;
    margin-top: 25px;
}

.container-2-text-3 {
    width: 190px;
    height: 62px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #034265;
    z-index: 3;
    padding-left: 3px;
    margin-top: 25px;
}

.container-2-image-1 {
    margin-top: 145px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    width: 120px;
    height: 200px;
}

.container-2-cont-2 {
    grid-area: 2 / 2 / 3 / 3;
    width: 400px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    margin-top: 62.5px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.container-2-image-2 {
    position: relative;
    z-index: 2;
    margin-top: 170px;
    width: 180px;
    height: 110px;
}

.container-2-cont-3 {
    grid-area: 2 / 3 / 3 / 4;
    width: 400px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container-2-image-3 {
    width: 140px;
    height: 135px;
    position: relative;
    z-index: 2;
    margin-top: 215px;
}

/*------------------------------------------------------*/
                /*About Us Component 3*/

.about-us-container-3 {
    display: grid;
    width: 100%;
    height: 520px;
    margin-top: 90px;
}

.container-3-wrapper {
    display: grid;
    justify-content: center;
    position: relative;
}

.container-3-grid {
    position: relative;
    display: grid;
    justify-content: center;
    margin-right: 1100px;
}

.container-3-large-line {
    position: relative;
    top: 110px;
    width: 99.1vw;
    height: 200px;
    background: #4772E2;
    z-index: 2;
}

.container-3-tall-line {
    position: relative;
    display: grid;
    align-items: center;
    bottom: 10px;
    width: 99.1vw;
    height: 45px;
    z-index: 2;
    background: #4177C8;
    box-shadow: 0px 5.33333px 5.33333px rgba(0, 0, 0, 0.25);
    border-radius: 6.66667px;
}

.container-3-cont-1 {
    display: inline-block;
    position: relative;
    bottom: 175px;
    left: 40px;
    width: 300px;
    height: 300px;
    background-color: white;
    z-index: 2;
    border: solid #4556B0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.container-3-num {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 80px;
    color: #F79841;
}

.container-3-down-text {
    font-family: 'Arvo';
    font-style: normal;
    margin-top: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F69841;
}

.container-3-cont-2 {
    display: inline-block;
    position: relative;
    bottom: 475px;
    left: 545px;
    width: 300px;
    height: 300px;
    background-color: white;
    z-index: 2;
    border: solid #4556B0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.container-3-cont-3 {
    display: inline-block;
    position: relative;
    bottom: 775px;
    left: 1040px;
    width: 300px;
    height: 300px;
    background-color: white;
    z-index: 2;
    border: solid #4556B0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.container-3-num-3 {
    position: relative;
    left: 7px;
    top: 90px;
    width: 225px;
    height: 63px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 80px;
    color: #F79841;
}

/*------------------------------------------------------*/
                /*About Us Component 4*/

.about-us-container-4 {
    max-width: 1525px;
    display: grid;
    justify-self: center;
    width: 100%;
    height: 500px;
    margin-top: 150px;
}


.container-4-wrapper {
    display: grid;
    justify-self: center;
    position: relative;
    width: 1500px;
}

.container-4-div-1 {
    grid-area: 1 / 2 / 2 / 6;
    background: white;
    height: 50px;
    width: 1250px;
    position: relative;
    bottom: 200px;
    display: grid;
    justify-content: center;
    right: 1120px;
}

.container-4-text-1 {
    width: 142px;
    height: 32px;
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    color: #034265;
    display: flex;
    position: relative;
    top: 2px;
}

.container-4-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1250px;
    margin-top: 50px;
}

.container-4-div-2 {
    grid-area: 3 / 1 / 6 / 4;
    width: 600px;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    bottom: 150px;
    left: 180px;
}

.container-4-text-2 {
    margin-top: 30px;
    position: relative;
    top: 20px;
    left: 25px;
    width: 525px;
    height: 75px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27.5px;  
    color: #034265;
}

.container-4-div-3 {
    grid-area: 3 / 4 / 6 / 7;
}

.container-4-image{
    position: relative;
    width: 650px;
    bottom: 95px;
    left: 200px;
}